# Make a sample dataset

In [24]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [25]:
filename = '/storage/home/ybc5222/work/MiniProject/Books_rating.csv'
filename2= '/storage/home/ybc5222/work/MiniProject/books_data.csv'
df = pd.read_csv(filename)
df2 = pd.read_csv(filename2)

In [4]:
print(df.shape)
print(df2.shape)

(3000000, 10)
(212404, 10)

In [5]:
df = df.sample(frac = 0.03)
df2 = df2.sample(frac = 0.03)

In [85]:
df_dup = df
df2_dup = df2

In [95]:
df = df_dup
df2 = df2_dup

In [27]:
print(df.shape)
print(df2.shape)

(90000, 10)
(6372, 10)

In [28]:
savefile = '/storage/home/ybc5222/work/MiniProject/Books_rating_sample.csv'
savefile2 = '/storage/home/ybc5222/work/MiniProject/books_data_sample.csv'
df.to_csv(savefile)
df2.to_csv(savefile2)

# Open Sample Dataset

In [3]:
filenames = '/storage/home/ybc5222/work/MiniProject/Books_rating_sample.csv'
filenames2= '/storage/home/ybc5222/work/MiniProject/books_data_sample.csv'
dfs = pd.read_csv(filenames)
dfs2 = pd.read_csv(filenames2)

In [9]:
dfs2.head()

,Unnamed: 0,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,134267,"Hidden America,",An Oprah.com “Must-Read Book” Award-winning jo...,['Jeanne Marie Laskas'],http://books.google.com/books/content?id=nKv4n...,http://books.google.com/books?id=nKv4n2nXWfMC&...,Penguin,2012-09-13,https://play.google.com/store/books/details?id...,['Social Science'],20.0
1,130694,On the Banks of the Amazon/En las orillas del ...,"Describes toucans, macaws, and harpy eagles, b...",['Julie Guidone'],http://books.google.com/books/content?id=ACInu...,http://books.google.nl/books?id=ACInuqG0z6cC&p...,Gareth Stevens Publishing LLLP,2009-01-01,http://books.google.nl/books?id=ACInuqG0z6cC&d...,['Juvenile Nonfiction'],NaN
2,160041,Everything Elephants: A Collector's Pictorial ...,Images and information about a wide range of e...,['Michael Don Knapik'],http://books.google.com/books/content?id=wRzrA...,http://books.google.com/books?id=wRzrAAAAMAAJ&...,Schiffer Book for Collectors w,2002,http://books.google.com/books?id=wRzrAAAAMAAJ&...,['Antiques & Collectibles'],NaN
3,111420,Last Gangster,"Charlie Richardson, one of Britain's most noto...",['Charlie Richardson'],http://books.google.com/books/content?id=znaIA...,http://books.google.nl/books?id=znaIApJ-ogsC&p...,Random House,2014-01-20,https://play.google.com/store/books/details?id...,['Biography & Autobiography'],NaN
4,80039,Talleyrand (The Bedford historical series),NaN,['Duff Cooper'],NaN,http://books.google.com/books?id=IDwCngEACAAJ&...,NaN,1939,http://books.google.com/books?id=IDwCngEACAAJ&...,NaN,3.0

In [103]:
# Check if each unique Book title is the same in two dataset
print(df['Title'].nunique())
df['Title'].nunique() == df2['Title'].nunique()

212403

True

In [105]:
# number of categories
df2['categories'].nunique()

10883

In [26]:
# merge the two dataset
mg = pd.merge(df, df2[['Title', 'categories']], on='Title', how='left')
# top 10 categories in ratings
mg['categories'].value_counts().head(10)

['Fiction']                      824439
['Juvenile Fiction']             207542
['Biography & Autobiography']    107791
['Religion']                      98035
['History']                       89988
['Business & Economics']          65618
['Computers']                     42403
['Social Science']                31072
['Cooking']                       29895
['Family & Relationships']        29277
Name: categories, dtype: int64

In [29]:
top_categories = ["['Fiction']",]
# Filter the Dataset
mg_filtered = mg[mg['categories'].apply(lambda x: x in top_categories)]
# Remove Nas
mg_filtered_cleaned = mg_filtered.dropna(subset=['categories'])
mg_filtered_cleaned.head(5)

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text,categories
14,0595344550,Whispers of the Wicked Saints,10.95,A3Q12RK71N74LB,Book Reader,7/11,1.0,1117065600,not good,I bought this book because I read some glowing...,['Fiction']
15,0595344550,Whispers of the Wicked Saints,10.95,A1E9M6APK30ZAU,V. Powell,1/2,4.0,1119571200,Here is my opinion,"I have to admit, I am not one to write reviews...",['Fiction']
16,0595344550,Whispers of the Wicked Saints,10.95,AUR0VA5H0C66C,"LoveToRead ""Actually Read Books""",1/2,1.0,1119225600,Buyer beware,"This is a self-published book, and if you want...",['Fiction']
17,0595344550,Whispers of the Wicked Saints,10.95,A1YLDZ3VHR6QPZ,Clara,2/4,5.0,1115942400,Fall on your knee's,When I first read this the I was mezmerized at...,['Fiction']
18,0595344550,Whispers of the Wicked Saints,10.95,ACO23CG8K8T77,Tonya,5/9,5.0,1117065600,Bravo Veronica,I read the review directly under mine and I ha...,['Fiction']

In [4]:
# top 10 categories in book data
df2['categories'].value_counts().head(10)

['Fiction']                      23419
['Religion']                      9459
['History']                       9330
['Juvenile Fiction']              6643
['Biography & Autobiography']     6324
['Business & Economics']          5625
['Computers']                     4312
['Social Science']                3834
['Juvenile Nonfiction']           3446
['Science']                       2623
Name: categories, dtype: int64

In [20]:
# Fiction
top_categories = ["['Fiction']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/fiction_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Religion
top_categories = ["['Religion']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/religion_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# History
top_categories = ["['History']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/history_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Juvenile Fiction
top_categories = ["['Juvenile Fiction']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/jfiction_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Biography & Autobiography
top_categories = ["['Biography & Autobiography']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/banda_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Business & Economics
top_categories = ["['Business & Economics']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/bande_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Computers
top_categories = ["['Computers']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/computers_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Social Science
top_categories = ["['Social Science']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/socialscience_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Juvenile Nonfiction
top_categories = ["['Juvenile Nonfiction']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/jnonfiction_data.csv'
merged_data_cleaned.to_csv(savefile)

In [ ]:
# Science
top_categories = ["['Science']",]

# Filter the DataFrame
df2_filtered = df2[df2['categories'].apply(lambda x: x in top_categories)]
# merge two dataset using 'Title'
merged_data = pd.merge(df, df2_filtered[['Title', 'categories']], on='Title', how='left')
# remove Nas
merged_data_cleaned = merged_data.dropna(subset=['categories'])
# save the filtered dataset
savefile = '/storage/home/ybc5222/work/MiniProject/science_data.csv'
merged_data_cleaned.to_csv(savefile)